<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="users" type="java"*/-->
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="LOGOUT"/>
</form>

</body>
</html>